// import any scss files you create (in the public/scss folder) here so your application can use them!

// Learn SASS Documentation: https://sass-lang.com/guide
// SASS Reference: https://sass-lang.com/documentation/file.SASS_REFERENCE.html

// See an example import below
// @import './component.scss';

body {
  font-family: sans-serif;

  a {
    text-decoration: none;
  }

  label {
    display: block;
  }

  nav a {
    display: inline;
    margin: 0;
  }

  form div {
    margin: 1em;
    display: inline-block;
  }
}

#Navbar{
  top: 0%;
  width: 100%;
  left: 0;
  z-index: 100;
}

#Search{
  width:100%;
  position:relative;
}

#SearchBar{
  width: 80%;
  margin: 1%;
  padding: 1%;
  position: relative;
}

#SearchButton{
  width:10%;
  position:relative;
}

#Search a{
  display: inline;
  margin: 0em;
}