html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  background: transparent; }

@font-face {
  font-family: 'expressway';
  src: url("C:UsersMinyoungPicoPiCopublicxpressway.ttf"); }

html {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden; }

body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%; }
  body a {
    text-decoration: none; }
  body nav a {
    display: inline;
    margin: 0; }
  body #app {
    height: 100%;
    background-color: whitesmoke; }
    body #app #page {
      height: 100%;
      background-image: url("https://images.pexels.com/photos/417173/pexels-photo-417173.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
      background-repeat: none;
      background-size: cover; }
      body #app #page .defaultbutton {
        border: none;
        font-family: expressway, sans-serif;
        color: #2C6A97;
        text-decoration: none;
        cursor: pointer;
        transition: color, border-bottom .2s;
        font-size: 2.3vh; }
      body #app #page #Header {
        width: 100%;
        height: 16%;
        position: absolute;
        background: #f78154;
        background: linear-gradient(0deg, #f78154 5%, #f4aa8d 100%, #f3bda8 100%, #f1dbd2 100%, #f0f0f0 100%); }
        body #app #page #Header #Navbar {
          height: 100%;
          width: 76%;
          margin: 0% 10%; }
          body #app #page #Header #Navbar #Logo {
            font-size: 11vh;
            color: #2C6A97;
            font-family: expressway rg, sans-serif;
            height: 100%;
            position: absolute;
            z-index: 100;
            cursor: pointer; }
          body #app #page #Header #Navbar .navrack {
            display: inline;
            width: 65%;
            height: 50%;
            margin-top: 4.7%;
            margin-left: 23%;
            position: absolute; }
            body #app #page #Header #Navbar .navrack #Search {
              z-index: 101;
              display: inline;
              display: inline;
              width: 31%;
              height: 50%;
              margin: 0% 3%;
              position: absolute; }
              body #app #page #Header #Navbar .navrack #Search #searchbutton {
                font-weight: bold;
                font-size: 2.3vh;
                padding: 1.2% 3.6%;
                margin: 0% 6%;
                width: 34%;
                position: absolute;
                border-radius: 4px;
                border-style: none; }
            body #app #page #Header #Navbar .navrack #navbutton {
              font-weight: bold;
              font-size: 2.3vh;
              padding: 0.7% 1.4%; }
            body #app #page #Header #Navbar .navrack #navbutton:hover {
              color: #478CBE;
              border-bottom: 4px solid #478CBE; }
      body #app #page #main {
        position: absolute;
        top: 21%;
        margin: 0% 10%;
        height: 74%;
        width: 80%;
        z-index: 100; }
        body #app #page #main .description {
          background-color: whitesmoke;
          position: absolute;
          width: 63%;
          height: 92%;
          padding: 20px;
          border-radius: 4px;
          margin: 0% 3%;
          overflow: scroll; }
          body #app #page #main .description #descimg {
            margin: 0% 24.5%;
            width: 51%; }
        body #app #page #main .authform {
          background-color: whitesmoke;
          border-radius: 23px;
          position: absolute;
          right: 0;
          height: 50%;
          width: 26%;
          padding: 1%; }
          body #app #page #main .authform .AuthBar {
            padding: 3% 4.7%;
            width: 78%;
            margin: 3% 5%;
            border-style: none;
            border-radius: 8px; }
          body #app #page #main .authform #AuthButton {
            margin: 2% 6.5%;
            font-size: 2.3vh;
            /* text-align: center; */
            padding: 2% 4%; }

.InputBar {
  width: 71%;
  padding: 2% 3.6%;
  border-radius: 10px;
  border-style: none;
  position: relative; }

/* 
Animation between componenets
*/
::-webkit-scrollbar {
  width: 8px;
  height: 0; }

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.479); }

/*# sourceMappingURL=style.css.map*/